.custom-node-wrapper {
  width: 210px;
  background-color: #27272a;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid transparent;
  overflow: hidden;
}

.custom-node-wrapper.selected {
  border: 3px solid #f1f1e5;
}

.custom-node-wrapper > div:first-child {
  padding: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: black;
}

.custom-node-wrapper > div:first-child > svg {
  width: 20px;
  height: 20px;
}

.custom-node-wrapper > div:last-child > p:first-child {
  font-weight: 500;
  color: #f1f1e5;
}

.custom-node-wrapper > div:last-child > p:last-child {
  font-weight: 400;
  color: #e4e4cf;
}

.toolbar-wrapper {
  position: absolute;
  bottom: 70px;
  padding: 8px 0px;
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.toolbar-wrapper > p {
  cursor: default;
  background-color: #3a3a3d6f;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.3s;
  border-radius: 5px;
  color: #f1f1e5;
}

.toolbar-wrapper > div {
  background-color: #3a3a3d6f;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}

.toolbar-wrapper > div > svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #f1f1e5;
  transition: 0.3s;
}

.toolbar-wrapper > div > svg:hover {
  color: cornflowerblue;
  transition: 0.3s;
}

.edge-handle {
  width: 10px;
  height: 10px;
}

.top {
  background-color: white;
}
