.context-menu {
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  color: white;
  background-color: #313134;
  box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
  position: absolute;
  z-index: 10;
}

.context-menu button {
  color: white;
  border: none;
  padding: 10px;
  text-align: left;
  border-radius: 8px;
  width: 100%;
  background-color: transparent;
}

.context-menu button:hover {
  background-color: #262628;
}
